@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #007BFF;
  --secondary-color: #6C757D;
  --primary-background-color: #FAFAFA;
  --secondary-background-color-light: #F3F3F3;
  --secondary-background-color-dark: #EFEFEF;
  --success-color: #28A745;
  --error-color: #DC3545;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 614px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-rows: auto;
}

.search-bar {
  margin-bottom: 10px;
  
  .search-bar-input {
    width: stretch;
    height: 36px;
    padding: 0 8px;
    border: none;
    background: var(--secondary-background-color-light);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 6px 0px #00000040;
    }

    &:focus {
      outline: #00000040 solid 1px;
    }
  }
}

.row-header, .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
  margin: 2px 0;
  border-radius: 4px;
  background: var(--primary-background-color);

  .cell {
    padding: 10px;
    width: stretch;
    height: 20px;
    text-align: center;
    cursor: pointer;
  
    &.highlight {
      border: 2px solid var(--success-color);
    }
  
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
  
      .value {
        flex: 1;
      }
    }
  }
}

.row-header {
  margin-bottom: 10px;
  background: var(--secondary-background-color-dark);
}

.processing, .success {
  font-size: 16px;
  color: var(--secondary-color);
}

.success {
  color: var(--success-color);
}

.error {
  color: var(--error-color);
  margin-top: 20px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.processing, .success, .hide-message, .error {
  animation: fadeOut 5s forwards; /* fadeOut animation for 5 seconds */
  animation-fill-mode: forwards; /* keep the element in the state of the last keyframe after the animation ends */
}
